@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply antialiased transition-colors duration-300;
  }
}

/* Scrollbar Personalizada */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-[#121212];
}
::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-700;
}

/* Animação Flutuante */
.animate-float {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}